
.wrapper{
background-image: url("phone.png");
background-repeat: no-repeat;
display:grid;
grid-template-rows:30% 50% 20%;
box-sizing:border-box;
margin-left:420px;


height: 510px;
width:350px;
justify-items:center;
}
.wrapper1{width:279px; display:grid; grid-template-rows:100%;margin-top:67px; margin-left:15px; }
.wrapper2{width:279px;display:grid; grid-template-columns:12% 76% 12%; margin-left:5.5px; }
.wrapper3{width:279px; display:grid; grid-template-rows:100%;margin-top:-55px; margin-left:15px;}



#sheep {height:220px;width:200px ;margin-top:33px;}
#cat {height:220px;width:200px;margin-top:33px;}
#bird{height:220px;width:200px;margin-top:33px;}
#dog{height:220px;width:200px;margin-top:33px;}
#cow{height:220px;width:200px;margin-top:40px; }




.anim
{




height:250px;width:200px; 

margin-left:9px;

box-sizing:box-border;


}

.forward1
{
width:42px;
box-sizing:border-box;
height:50px;
margin-top:100px;	

padding-left:6px;
}
.backward1
{
	width:42px;
height:50px;
box-sizing:border-box;

margin-top:100px;

	
}
.footer{

align-self:end;

}
.footer p{
border:1px solid gray;	
margin-left:60px;
font-size:11px;
background:gray;
width: 165px;
	
}

.hader
{



align-self:start;
}
.hader h1
{
	
	margin-left:100px;
	
}
#sheeph1{margin-left:-3px; width:110px;margin-left:76px;}



