

.wrapper{
	
width:100%;
max-width:360px;
margin:0 auto;
background-image: url("pink.jpg");
	
	
}

.flex-conteiner
{
	
display:flex;
flex-wrap:wrap;	
	
}

.box  {height:100px; 80px; flex-grow:1; flex-basis: 80px;}
.box1 {background-color:red;}
.box2 {background-color:green;}
.box3 {background-color:yellow;}
.box4 {background-color:pink;}
.box5 {background-color:gray;}